# Ignore everything in this directory
*
# Except this file
!.gitignore
!team_pass_rates.csv
!team_xpass_ratios.csv
!snaps_lost_injury.csv
!coverages_faced.csv
!coverages_used.csv
!qbr_data.csv
!def_test.csv
!def_train.csv
!qb_historical.csv
!box_bmi_pressure.csv
!def_maxima.csv
!motion_y_delta.csv
!top_2_player_diff_last_10.csv
!top_2_player_diff_last_15.csv